[Unit]
Description=kioskme

[Service]
Type=simple
Restart=on-failure
User=kioskme
Group=kioskme
Environment="DISPLAY=:0"
ExecStart=/etc/X11/Xsession /usr/bin/kioskme
Requires=xorg
